
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="btn-group">
    <a asp-action="CountryIndex" class="btn btn-info">Country</a>
    <a asp-action="CityIndex" class="btn btn-info">City</a>
    <a asp-action="LocationIndex" class="btn btn-info">Locations</a>
</div>