
<form asp-action="">
    
</form>

<div class="col-md-4">
    <div class="img_style">
        <img src="~/uploads/ProductImages/@Model?" />
    </div>
</div>
<style>
    .img_style {
        left: 0;
        top: 0;
        
    }
    .img_style img {
        max-height: 450px;
    }
</style>