@using System.Security.Cryptography.X509Certificates
@using Ecommerce_MVC_Core.ViewModel
@using Ecommerce_MVC_Core.ViewModel.Public
@using Microsoft.AspNetCore.Http



<!-- header -->
<div class="header" id="home">
    <div class="container">
        <ul>
           @if (!Context.User.Identity.IsAuthenticated)
           {
               <li> <a id="createModel" asp-controller="Users" asp-action="Login"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
               <li> <a asp-controller="Users" asp-action="SignUp"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
           }
           else
           {
               <li> <a asp-controller="Users" asp-action="LogOut"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Logout</a></li>
           }
           
            <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01680803492</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:mubassir913@gmail.com">hatbazar@info.com</a></li>
        </ul>
    </div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form asp-controller="Home" asp-action="Product" method="get">
                <input type="search" name="search" placeholder="Search Brand,Category,Product" required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 logo_agile">
            <h1>
                <a asp-controller="Home" asp-action="Index"><span>H</span>at Bazar <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a>
            </h1>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 agileits-social top_content">
            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                <li class="share">Share On : </li>
                <li>
                    <a href="https://www.facebook.com/mubassir.hasan.dev" class="facebook">
                        <div class="front">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <div class="front">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="instagram">
                        <div class="front">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="pinterest">
                        <div class="front">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                        <div class="back">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </a>
                </li>
            </ul>
            


        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
    <div class="container">
        <div class="top_nav_left">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu__list">
                            <li class="active menu__item menu__item--current"><a class="menu__link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a></li>
                            <li class=" menu__item"><a class="menu__link" asp-action="About" asp-controller="Home">About</a></li>


                                @await Component.InvokeAsync("GetHeaderMainMenu")
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="top_nav_right">
            <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                <a asp-controller="Order" asp-action="Index">Check Out</a> 
                <span>
                    <b>
                        @{
                            int? item = Context.Session.GetInt32("itemCount");
                        }
                        @item
                    </b>
                </span>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-top -->
@Html.Partial("Scripts")