@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div style="padding-top: 35px;"></div>
<div class="container">
    <h2>Hat-Bazar</h2>
    <hr />
    <p>
        Hat-Bazar is an e-commerce Application, the best choice for all your Medium type e-commerce websites in order to boost your profits
        and expand your business around the world via online by using this smart and elegantly designed. In this Application you can check
        or analyze your product reviews is how good or bad. This creatively designed Application is also a perfect choice for all your websites
        like Clothes, Men Fashion, Women Fashion, Kids Fashion, Accessories, Jewelries, Shoes, men’s clothing store, women’s shop, shoes store,
        accessories shop, digital, kids, watches, furniture, sports, tools, laptops, tablets, smartphones, desktop computers, professional, designer,
        musician, artist, businessman, specialist, analyst, event manager, photographer, gift shop, mobile store and much more. This modern and
        uniquely designed Application has awesome features like a banner slider, eye-catching hover effects, progressive numbers, add to cart plugin,
        font awesome icons, bootstrap shortcodes and clean, sleek, minimalistic and elegant style of design in every detail. This Application is 100%
        responsive cross-browser template, compatible with all devices, displayed on all screen sizes. It is entirely built in Bootstrap framework,
        HTML5, CSS3, and JQuery.
    </p>
    <div style="padding-top: 35px;"></div>
    <h3>Developed By</h3>
    <hr />
    <h4 style="padding: 5px 0; font-size: 20px;">Md. Mubassir Hasan</h4>
    <h5>(Batch: lict_tup_off_h_47_dotNet)</h5>
    <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:mubassir913@gmail.com">mubassir913@gmail.com</a></span><br />
    <span><i class="fa fa-university" aria-hidden="true"></i></span>&nbsp; Daffodil International University <br />
    <div style="padding-top: 6px;"></div>
    <a href="https://www.facebook.com/mubassirhasan.diu" target="blank"><span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>/mubassirhasan.diu</a> <br />
    <a href="https://github.com/mubassir-hasan" target="blank"><span><i class="fa fa-github" aria-hidden="true"></i></span>/mubassir-hasan</a> <br />
    <a href="https://www.linkedin.com/in/mubassir-hasan/" target="blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span>/mubassir-hasan</a> <br />


    <div style="padding-top: 35px;"></div>
    <h3>Supervised By</h3>
    <hr />
    <h4 style="padding: 5px 0; font-size: 20px;">
        Asaduzzaman Arif
    </h4>
    Master Trainer (EY) LICT Project<br />
    BCC, ICT Ministry

    <div style="padding-top: 35px;"></div>
    <h4>This project is partial fulfillment of .NET Course provided by <strong style="font-size: 20px;">LICT</strong></h4>
    <hr />


    <!-- 16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8dt6IIj0TI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <hr />
    Tamplate From <a href="http://w3layouts.com/" target="blank">W3layouts</a>
</div>