
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-2">
    <a asp-controller="ProductMenual" asp-action="AddEditProductManual" class="btn btn-info">
        <i class="glyphicon glyphicon-plus"></i>Add
    </a>
</div>

